on:
  push:
    branches:
      - master
    tags:
      - 'v*'

name: Deploy

jobs:

  tests:
    name: Unit tests
    strategy:
      matrix:
        go-version: [1.25.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test
        run: go test -v -mod=vendor -cover ./...
        env:
          RICHGO_FORCE_COLOR: 1
          ENV: test

  deploy:
    name: Deploy to Appengine
    runs-on: ubuntu-latest
    needs: [tests]
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set env
        run: echo "RELEASE_VERSION=$(echo ${GITHUB_REF#refs/*/})" >> $GITHUB_ENV

      - name: Change version
        run: |
          sed -i app.yaml -e "s/__RELEASE__/$RELEASE_VERSION/"

      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v2"
        with:
          project_id: ${{ secrets.PROJECT_ID }}
          credentials_json: ${{ secrets.GCP_CREDENTIALS}}

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v3"
        with:
          version: ">= 416.0.0"

      - run: gcloud info

      - name: Deploy
        run: |
          gcloud --quiet app deploy app.yaml --project ${{ secrets.PROJECT_ID }}  --ignore-file .gcloudignore --version $(echo $RELEASE_VERSION | sed "s/\./-/g")

  stagging-deployment:
    name: Non-production deployment
    runs-on: ubuntu-latest
    needs: [tests]
    if: github.ref == 'refs/heads/master'
    permissions:
      deployments: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy
        run: |
          echo "Deploying to staging"
