on: pull_request

name: Test PR

jobs:
  tests:
    strategy:
      matrix:
        go-version: [1.25.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test
        run: go test -v -mod=vendor -cover ./...
        env:
          RICHGO_FORCE_COLOR: 1
          ENV: test
